In [222]:
import re
import numpy as np
import pandas as pd
import xlwt
import os
import ete3
ncbi = ete3.NCBITaxa()
#ncbi.update_taxonomy_database()

Choose species

In [223]:
species ="Yersinia pestis"

Read in exported data files

In [224]:
HPIDB = pd.read_table("/Users/thesis/Desktop/Google drive/thesis-lorenz/Work in progress.../Databases/HPIDB2.0/Mitabs/" + species + "/" + species + ".txt", names=["Protein_A","Protein_B","Alt_A","Alt_B","D_method","PubmedID","Taxid_A","Taxid_B","Int_type","Source_DB","Conf_score"], usecols=[0,1,2,3,6,8,9,10,11,12,14], header=0)
IntAct = pd.read_table("/Users/thesis/Desktop/Google drive/thesis-lorenz/Work in progress.../Databases/IntAct/" + species, names=["Protein_A","Protein_B","Alt_A","Alt_B","D_method","PubmedID","Taxid_A","Taxid_B","Int_type","Source_DB","Conf_score"], usecols=[0,1,2,3,6,8,9,10,11,12,14], header=0)
PHISTO = pd.read_excel("/Users/thesis/Desktop/Google drive/thesis-lorenz/Work in progress.../Databases/PHISTO/" + species + ".xls", names= ["Taxid_A", "Protein_A", "Protein_B", "D_method","PubmedID"], usecols=[1,2,4,6,7])
HPIDB.Source_DB.unique()
print (len(HPIDB), len(IntAct),len(PHISTO))

4026 4090 4089

IntAct and HPIDB sets are basically the same apart from their taxid columns, thus we'll clean up the taxid column of IntAct, merge the two and then clean up the rest

It should also be noted that the taxid cleaning up has one step that needs to 'supervised' because sometimes the procedures creates NaN values which need to be checked manually.

In [225]:
r = IntAct.Taxid_A
r = r.str.lower()
r = r.str.extract(r'(?:taxid:)([0-9]*)',expand = False)
IntAct.Taxid_A = r

r = IntAct.Taxid_B
r = r.str.lower()
r = r.str.extract(r'(?:taxid:)([0-9]*)',expand = False)
IntAct.Taxid_B = r

In [226]:
df=pd.concat([HPIDB,IntAct])
df=df.reset_index(drop=True)

In [227]:
len(df)

8116

In [228]:
taxids= list(pd.unique(list(df.Taxid_A.unique())+list(df.Taxid_B.unique())))
parent= ncbi.get_name_translator([species])
taxid_list=[]
for taxid in taxids:
    lineage = ncbi.get_taxid_translator(ncbi.get_lineage(taxid))
    
    if parent.get(species)[0] in lineage:
        taxid_list.append(taxid)
taxid_list.append('9606')

In [229]:
print(ncbi.get_taxid_translator(taxid_list))
sel1 = df.Taxid_A.apply(lambda x: str(x) in taxid_list)
sel2 = df.Taxid_B.apply(lambda x: str(x) in taxid_list)
df = df.loc[sel1 & sel2,:]

{632: 'Yersinia pestis', 9606: 'Homo sapiens', 360102: 'Yersinia pestis Antiqua'}

In [230]:
len(df)

8097

In [231]:
for name in ["D_method","Int_type","Source_DB"]:
    r = df[name]
    r = r.str.extract((r'(?:psi-mi:"?MI:[0-9]*"?[(])([^)]*)(?:[)])') ,expand = False)
    df[name] = r


for name in ["Protein_A","Protein_B"]:
    r = df[name]
    r = r.str.extract(r'(?:uniprotkb:)([a-zA-Z0-9]*)', expand=False)
    df[name] = r
    

r = df.PubmedID
r = r.str.extract(r'(?:[^p]*)(?:pubmed:)([0-9]*)(?:.*)',expand=False)
df.PubmedID = r

r = df.Conf_score
r = r.str.extract(r'(?:intact-miscore:)([0-9.]*)', expand=False)
df.Conf_score = r

Some entries don't have uniprot ID
We'll search the alt ID column for a uniprot ID
However, in the particular case of B anthracis, there are no Alt Ids available => entries 714-761 in intact file for protein A
Protein B is spread across the dataset. 

Upon further inspection most of these entries trace back do deleted entries in the uniprotKB database.
    Some of these due to deletion. We don't know (yet) if this deletion is due to being wrong or upon request of original submitters
        Others due to redundancy. Trace back to the non redundant entry might be done by downloading the sequence and finding it in the uniprot database? example entry index 56 of intact file
        EBI-2810906 => a0a1v4b700_bacan => 
The other entries aren't even traceable

In [232]:
sel1 = df.Protein_A.isnull()
subset1 = df.loc[sel1,"Alt_A"]
sel2 = df.Protein_B.isnull()
subset2 = df.loc[sel2,"Alt_B"]

for name in [subset1,subset2]:
    name = name.str.extract(r'(?:uniprotkb:)([a-zA-Z0-9]*)', expand=False)
#code to replace empty protein IDs with the alternative ones

In [233]:
sel1 = df.Protein_A.isnull()
sel2 = df.Protein_B.isnull()
df = df.loc[~sel1 & ~sel2,:]
df = df.reset_index(drop=True)

In [234]:
len(df)

7869

In [235]:
df = df.drop(["Alt_A","Alt_B"],axis=1)

Sort columns so pathogen is 'A' and human is 'B'

In [ ]:
for i in range(len(df)):
    if df.loc[i,"Taxid_B"] != '9606':
        A = df.loc[i,"Taxid_A"]
        B = df.loc[i,"Taxid_B"]
        C = df.loc[i,"Protein_A"]
        D = df.loc[i,"Protein_B"]
      

        df.loc[i,"Taxid_A"] = B
        df.loc[i,"Taxid_B"] = A
        df.loc[i,"Protein_A"]= D
        df.loc[i,"Protein_B"]= C

Make identifier df

In [202]:
ID_all =[]
for i in range (0,len(df)):
    ID_list=[]
    ID_list.append (df.iloc[i,0])
    ID_list.append (df.iloc[i,1])
    ID_list.append (df.iloc[i,3])
    ID_list.append (df.iloc[i,2])
    ID_list.sort()
    ID_all.append(
        ID_list[0]
        +ID_list[1] 
        + str(ID_list[2])
        +ID_list[3]
    )
df=df.assign(ID=ID_all)

In [203]:
print(len(df.ID.unique()))
df.PubmedID.unique()

3940

array(['20711500', '16364312', '12787500', '17644582', '21357482',
       '23142986', '22981947'], dtype=object)

Make identifier PHISTO

In [212]:
ID_all =[]
for i in range (0,len(PHISTO)):
    ID_list=[]
    ID_list.append (PHISTO.iloc[i,1])
    ID_list.append (PHISTO.iloc[i,2])
    ID_list.append (PHISTO.iloc[i,3])
    ID_list.append (str(PHISTO.iloc[i,4]))
    ID_list.sort()
    ID_all.append(
        ID_list[0]
        +ID_list[1] 
        + ID_list[2]
        + ID_list[3]
    )
PHISTO=PHISTO.assign(ID=ID_all)

print(len(PHISTO.ID.unique()))
print(len(PHISTO))
PHISTO

merge df and PHISTO

In [214]:
df = pd.concat([df,PHISTO])
len(df)

9306

Remove redundancy

In [221]:
df = df.sort_values(by = "Conf_score", ascending = False)
df = df.drop_duplicates("ID")
len(df)

5391

Count how many times an interaction has been found with different methods, different types of interactions, different publications,...

In [216]:
count = df.groupby(["Protein_A","Protein_B"]).count()

In [218]:
count.sort_values(by="ID",ascending =False)

                     Conf_score  D_method  ID  Int_type  PubmedID  Source_DB  \
Protein_A Protein_B
P26948    P26926              4         4   4         4         4          4
Q9RI12    Q96FW1              1         4   4         1         4          1
P26948    P26949              3         3   3         3         3          3
Q56993    Q56992              3         3   3         3         3          3
Q8CZW8    Q7Z309              1         2   2         1         2          1
Q8CZX0    P61604              1         2   2         1         2          1
Q7CGS4    Q9P267              1         2   2         1         2          1
Q8ZHG8    Q5VUA4              1         2   2         1         2          1
Q7CGS4    P13640              1         2   2         1         2          1
Q8CZX0    Q92802              1         2   2         1         2          1
Q8ZHG7    Q13451              1         2   2         1         2          1
          P47897              1         2   2         1         2          1
Q8CZX8    P31146              1         2   2         1         2          1
Q7CGR9    P17931              1         2   2         1         2          1
P42713    P26599              1         2   2         1         2          1
Q8ZHG0    P26651              1         2   2         1         2          1
Q7CJG2    B4DJ51              0         2   2         0         2          0
Q7CGR9    P16144              1         2   2         1         2          1
Q8CZX8    Q9ULJ1              1         2   2         1         2          1
Q7CGR9    A6NM11              1         2   2         1         2          1
P46355    E9KL30              0         2   2         0         2          0
P46357    P63261              1         2   2         1         2          1
Q7CGR6    Q5RIA9              1         2   2         1         2          1
Q8ZHE6    O95793              1         2   2         1         2          1
Q8ZH69    Q9Y6X8              1         2   2         1         2          1
Q8CZY0    D0PNI1              0         2   2         0         2          0
Q8ZH50    P14618              1         2   2         1         2          1
Q8CZY0    Q15363              1         2   2         1         2          1
Q7CGN8    Q9NRQ2              1         2   2         1         2          1
          Q13137              1         2   2         1         2          1
...                         ...       ...  ..       ...       ...        ...
Q7ARN5    O43680              0         1   1         0         1          0
          P63104              1         1   1         1         1          1
          Q9GZM7              0         1   1         0         1          0
Q7ARN6    A4D2P1              0         1   1         0         1          0
          P63000              0         1   1         0         1          0
Q7CFN0    P63279              0         1   1         0         1          0
Q7CFN1    O94979              0         1   1         0         1          0
          P16144              0         1   1         0         1          0
Q7CFN3    F1D8R8              0         1   1         0         1          0
          O75376              1         1   1         1         1          1
          O75427              1         1   1         1         1          1
          P17931              1         1   1         1         1          1
          P38919              0         1   1         0         1          0
          Q13285              1         1   1         1         1          1
          Q5TAX3              0         1   1         0         1          0
          Q8WWM7              1         1   1         1         1          1
          Q96JH7              0         1   1         0         1          0
Q7CFP2    O94806              1         1   1         1         1          1
          P01834              1         1   1         1         1          1
          P30408              0         1   1         0         1          0
          P55060              0         1   1         0         1          0
          P59998              1         1   1         1         1          1
Q7CFP7    Q16831              0         1   1         0         1          0
          Q9NR48              1         1   1         1         1          1
Q7CFP8    Q02218              0         1   1         0         1          0
          Q9NTJ3              1         1   1         1         1          1
Q7CFQ1    P46379              1         1   1         1         1          1
          Q86T23              1         1   1         1         1          1
          Q9HAV7              1         1   1         1         1          1
Q9ZFR9    Q9ULJ1              1         1   1         1         1          1

                     Taxid_A  Taxid_B
Protein_A Protein_B
P26948    P26926           4        4
Q9RI12    Q96FW1           4        1
P26948    P26949           3        3
Q56993    Q56992           3        3
Q8CZW8    Q7Z309           2        1
Q8CZX0    P61604           2        1
Q7CGS4    Q9P267           2        1
Q8ZHG8    Q5VUA4           2        1
Q7CGS4    P13640           2        1
Q8CZX0    Q92802           2        1
Q8ZHG7    Q13451           2        1
          P47897           2        1
Q8CZX8    P31146           2        1
Q7CGR9    P17931           2        1
P42713    P26599           2        1
Q8ZHG0    P26651           2        1
Q7CJG2    B4DJ51           2        0
Q7CGR9    P16144           2        1
Q8CZX8    Q9ULJ1           2        1
Q7CGR9    A6NM11           2        1
P46355    E9KL30           2        0
P46357    P63261           2        1
Q7CGR6    Q5RIA9           2        1
Q8ZHE6    O95793           2        1
Q8ZH69    Q9Y6X8           2        1
Q8CZY0    D0PNI1           2        0
Q8ZH50    P14618           2        1
Q8CZY0    Q15363           2        1
Q7CGN8    Q9NRQ2           2        1
          Q13137           2        1
...                      ...      ...
Q7ARN5    O43680           1        0
          P63104           1        1
          Q9GZM7           1        0
Q7ARN6    A4D2P1           1        0
          P63000           1        0
Q7CFN0    P63279           1        0
Q7CFN1    O94979           1        0
          P16144           1        0
Q7CFN3    F1D8R8           1        0
          O75376           1        1
          O75427           1        1
          P17931           1        1
          P38919           1        0
          Q13285           1        1
          Q5TAX3           1        0
          Q8WWM7           1        1
          Q96JH7           1        0
Q7CFP2    O94806           1        1
          P01834           1        1
          P30408           1        0
          P55060           1        0
          P59998           1        1
Q7CFP7    Q16831           1        0
          Q9NR48           1        1
Q7CFP8    Q02218           1        0
          Q9NTJ3           1        1
Q7CFQ1    P46379           1        1
          Q86T23           1        1
          Q9HAV7           1        1
Q9ZFR9    Q9ULJ1           1        1

[4677 rows x 8 columns]